body{
    background-color: #145e4f;
}

*{
margin: 0;
padding: 0;
}

.navbar {
  
  background-color:#1c705f;
  height: 250px;
}

.logo{
      display: flex;
      direction: row;
      font-weight: bold;
      gap: 70px;
      align-items: center;
      color:#fff

}

.profile-pic{
  height: 200px;
  border-radius: 100px;
  margin: 20px 20px;
}
/* CSS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 5px));
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.skill-card {
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.skill{
height: 20px;
width: 100%;
background-color: #309681;
color: #fff;
font-weight: bold;
padding-bottom: 20px;
text-align: center;
 padding-left: 20px;
 padding-right: 20px;

}